<div class="navbar navbar-inverse">
	<div class="container no-padding">
		<div class="navbar-header">
			<a class="navbar-brand" ui-sref="home">Time Tracker</a>
		</div>
		<div class="btn-group">
			<label class="btn btn-default navbar-btn" ng-model="state" btn-radio="'Day'">Day</label>
			<label class="btn btn-default navbar-btn" ng-model="state" btn-radio="'Week'">Week</label>
		</div>
		<span class="navbar-form">
			<input type="text" class="form-control navbar-form" datepicker-popup="dd-MMMM-yyyy" ng-model="day" is-open="dp.opened" close-text="Close" disabled="true"/>
			<button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
		</span>
	</div>
</div>
<div ng-show="loadComplete" class="container">
	<h3 ng-show="state === 'Day'">Time Entries for {{ day.toDateString() ? day.toDateString() : "All Days" }}</h3>
	<h3 ng-show="state === 'Week'">Time Entries Between {{ range.begin.toDateString() }} and {{ range.end.toDateString() }}</h3>
	<div class="pie-chart" ng-if="timeEntries.length > 0" timeentries="timeEntries"></div>
	<div class="clearfix">
		<h4>Add a new time entry for {{ day.toDateString() }}:</h4>
		<form class="form-inline">
			<div class="form-group">
				<label for="name">name</label>
				<input name="name" maxlength="250" type="text" class="form-control" ng-model="newEntry.name" />
			</div>
			<div class="form-group">
				<label for="hours"># hours</label>
				<input name="hours" type="number" step="any" min="0" class="form-control" ng-model="newEntry.hours" />
			</div>
			<div class="form-group">
				<label for="category">category</label>
				<select class="form-control" ng-model="newEntry.category" ng-options="category._id as category.name for category in categories">
					<option value="">None</option>
				</select>
			</div>
			<button class="btn btn-primary" ng-click="doCreateEntry()">create entry</button>
			<button class="btn btn-primary" ui-sref="categories">categories</button>
		</form>
	</div>

	<div>
		<div id="{{ entry._id }}" class="row-item clearfix" ng-repeat="entry in timeEntries">
			<h4 class="col-md-5">{{ entry.name }}<span ng-show="entry.category" style="background-color: {{ entry.category.color }};" class="badge">{{ entry.category.name }}</span></h4><h4 class="text-right col-md-5">{{ entry.hours }} hours</h4>
			<div class="col-md-2 text-right">
				<button type="button" class="btn btn-danger" ng-click="doDeleteEntry(entry._id)">delete</button>
			</div>
		</div>
	</div>
</div>
<div ng-hide="loadComplete" class="container">
    <div class="text-center loading">
        <img src="img/ajax-loader.gif" />
    </div>
</div>