<div class="container">
	<h1>Create Account</h1>
	<div class="form-group">
		<label for="email">email</label>
		<input name="email" type="text" class="form-control" ng-model="user.email" />
		<label for="name">name</label>
		<input name="name" type="text" class="form-control" ng-model="user.name" />
		<label for="password">password</label>
		<input name="password" type="password" class="form-control" ng-model="user.password" />
	</div>
	<div class="text-center">
		<button class="btn btn-primary centered" ng-click="doCreate()">create account</button><br>
	</div>
</div>