<div ng-repeat="m in timelineMilestones | orderBy: date" class="timeline-item milestone">
	<div class="titem-header" ng-class="{'first':$first}">
		<div class="titem-timeline-holder">
			<div class="titem-pushbar" style="width: {{ m.timeline.push }}%;" ng-hide="m.timeline.push <= 0 || m.timeline.push >= 100"></div>
			<div class="titem-bar {{ getCategoryColor(m.categoryId) }}"  style="width: {{ m.timeline.size }}%;"></div>
		</div>
		<div class="titem-header-data">
			<h3 class="titem-title">{{ m.name }}</h3>
			<span class="titem-header-tag"><span class="fa fa-tag"></span> {{ getCategoryName(m.categoryId) }}</span>
			<div class="titem-header-ctrls pull-right">
				<span class="titem-header-percentComplete"><strong>{{ m.percentComplete }}%</strong> Complete</span><span class="titem-header-date" ng-show="m.date"><strong>{{ m.date | date:'MM/dd/yyyy'}}</strong></span><span class="titem-header-actions"><a class="fa fa-edit" ng-click="barEdit(m, $event)"></a></span>
			</div>
		</div>
	</div>
</div>