<div ng-repeat="note in notes | orderBy: dateAdded">
	<div class="panel panel-default note">
		<div class="panel-heading">
			<h4 class="panel-title"><strong>{{ note.name }}</strong><span class="pull-right"><span class="note-date"><strong>{{ note.dateAdded | date: 'MM/dd/yyyy' }}</strong></span><a ng-click="noteActions.update(note)" class="edit-action"><span class="fa fa-edit"></span></a></span></h4>
		</div>
		<div class="panel-body">
			<p ng-bind-html="note.description | nl2br"></p>
		</div>
	</div>
</div>