<!-- public/views/project-management.html -->
<div ng-show="loadComplete">
    <div class="page-header">
        <h3 ng-if="method === 'create'">New Project</h3>
        <h3 ng-if="method === 'update'">Edit {{ displayName }}</h3>
    </div>
    <div class="container">
        <div class="project-management-page">
        	<form name="goalform">
                <div class="form-group">
                    <label>Name</label>
                    <input type="text" required ng-model="project.name" class="form-control" maxlength="40">
                </div>
                <div class="form-group">
                    <label>Description</label>
                    <textarea ng-model="project.description" class="form-control"></textarea>
                </div>
            </form>

            <button type="button" class="btn btn-primary" ng-if="method === 'create'" ng-disabled="goalform.$invalid" ng-click="create()">Create</button>
        	<button type="button" class="btn btn-primary" ng-if="method === 'update'" ng-disabled="goalform.$invalid || goalform.$pristine" ng-click="update()">Update</button>
        	<button type="button" class="btn btn-primary" ng-click="goBack()">Cancel</button>
        	<button type="button" class="btn btn-danger" ng-if="method === 'update'" ng-click="delete()">Delete</button>
        </div>
    </div>
</div>
<div ng-hide="loadComplete" class="goal-page">
    <div class="text-center loading">
        <img src="img/ajax-loader.gif" />
    </div>
</div>