/* _panel.scss */

.panel {
	border-radius: 0;
	margin-bottom: 5px;

	.edit-action {
		padding: 10px 12px;
		color: inherit;
		cursor: pointer;
		margin-left: 5px;

		&:hover {
			color: inherit;
			background: rgba(150,150,150,0.2);
		}
	}
}


.panel-default>.panel-heading {
	background: #eeeeee;
	border-radius: 0;
}
