<div class="modal-header">
    <h3 class="modal-title" ng-if="method == 'create'">Create Category</h3>
    <h3 class="modal-title" ng-if="method == 'update'">Update Category</h3>
</div>
<div class="modal-body">
    <form name="categoryform">
        <div class="form-group">
            <label>Name</label>
            <input type="text" required ng-model="category.name" class="form-control" maxlength="30">
        </div>
        <div class="form-group">
            <label>Color</label>
            <category-color-selector ng-model="category.color"></category-color-selector>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button ng-if="method == 'update'" class="btn btn-danger" ng-click="delete()">Delete</button>
    <button ng-if="method == 'create'" ng-disabled="categoryform.$invalid" class="btn btn-primary" ng-click="ok()">Create</button>
    <button ng-if="method == 'update'" ng-disabled="categoryform.$invalid || categoryform.$pristine" class="btn btn-primary" ng-click="ok()">Update</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>